.displayblok {
    display: flex;  
}
.leftshow{
    /*float: left;*/
    width: 33.33%;
    text-align: center;
    font-family: KaiTi;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}   

 .leftshow span{

} 

.centershow{
    /*float: left;*/
    width: 33.33%;
}

.rightshow{
    /*float: left;*/
    width: 33.33%;
    text-align: center;
    font-family: KaiTi;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightshow span{
    
}

img{
    width: 100%;
    height: 100%;
}

.clock_box{
    width:300px;
    height:300px;
    border:5px solid #FF7F24;
    border-radius: 50%;
    position: relative;
    margin: 10px auto;
}

.clear{
    clear: both;
}

.clock_dial{
    font-size: 18px;
    width:100%;
    height: 100%;
    position: relative;
    -moz-transform-origin:center center;
    -webkit-transform-origin:center center;
    -o-transform-origin:center center;
    transform-origin: center center;
    text-align: center;

}
.dial{
    position: absolute;
    width:20px;
    height: 100%;
    top:0;
    left:140px;

}
.dial span{
    width:3px;
    height:18px;
    background:black;
    display: inline-block;
    vertical-align: top;
}
.dial b{
    display:inline-block;
}
.H,.M,.S{
    position:absolute;
    height: 100%;
    top:0;
    left: 50%;
    -webkit-transform:translate3d(-50%,0,0);
    -ms-transform:translate3d(-50%,0,0);
    -o-transform:translate3d(-50%,0,0);
    text-align: center;
}
.H span{
    margin-top: 80px;
    width:6px;
    height: 80px;
    background:black;
    display:inline-block;
}
.M span{
    margin-top: 60px;
    height: 100px;
    width:6px;
    background:black;
    display:inline-block;           
}
.S span{
    margin-top: 45px;
    height: 120px;
    width:3px;
    background:red;
    display: inline-block;
    position:relative;
}
.S span:after{
    content:'';
    width:10px;
    height: 10px;
    border-radius: 50%;
    background:red;
    position: absolute;
    bottom:10px;
    left:-3.5px;

}