.content{
	margin: 20px auto;
}

.workTools{
	float: left;
	width: 33%;
	text-align: center;
}

.content li{
	list-style-type: none;
	height: 50px;
	font-family: 'Times New Roman', KaiTi;
	font-size: 28px;
}

.content li a{
	text-decoration: none;
	color: blue;
}


.onlineTools{
	float: left;
	width: 33%;
	text-align: center;
}

.blogs{
	float: left;
	width: 33%;
	text-align: center;
}

.hr_div{
	width: 100%;
	/* Firefox */
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;

	/* Safari、Opera 以及 Chrome */
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.hr_div hr{
	width: 80%;
	border: 1;
	color: grey;
}

.own{
	width: 103%;
	text-align: center;
	margin-top: 10px;

	/* Firefox */
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;

	/* Safari、Opera 以及 Chrome */
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
}

.own a{
	text-decoration: none;
	color: blue;
	font-size: 28px;
	font-family: 'Times New Roman', KaiTi;
	text-align: center;
}